[user]
	email = johndoe@example.com
	name = John Doe
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[alias]
	s = status
    p = push
[includeIf "gitdir:~/repos/usr/**"]
	path = .gitconfig-usr.inc
