[user]
	email = johndoe@example.com
	name = John Doe
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
	recurseSubmodules = on-demand
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[alias]
	s = status
	p = push
	c = commit
	co = checkout
[includeIf "gitdir:~/repos/**"]
	path = .gitconfig.inc
[submodule]
	recurse = true
