#!/bin/bash

# dunst
[ -x "$(command -v dunst)" ] && dunst &

# wmname
[ -x "$(command -v wmname)" ] && wmname LG3D &

# redshift
[ -x "$(command -v redshift)" ] && redshift -P -O 2444K &

# Autorandr default detect
[ -x "$(command -v autorandr)" ] && autorandr -c &

# Autolocker after 10 min
if [ -x "$(command -v xidlehook)" ]; then
    xidlehook \
        --detect-sleep \
        --not-when-fullscreen \
        --not-when-audio \
        --timer 540 \
        'notify-send --expire-time=20000 --urgency=critical "Locking screen in 60 sec"' \
        '' \
        --timer 60 \
        'slock' \
        '' \
        &
elif [ -x "$(command -v xautolock)" ]; then
    xautolock \
        -detectsleep \
        -time 10 \
        -locker 'slock' \
        -notify 60 \
        -notifier 'notify-send --expire-time=20000 --urgency=critical "Locking screen in 60 sec"' \
        &
fi
